$hover_bg: black;
$hover_color: white;

.content-wrapper {
    padding: 0;
    margin: 50px auto;
    max-width: 50em;
    background-color: rgb(45, 108, 129);
    .wrapper {
        border: 2px solid black;
        height: 4em;
        background-color: rgb(163, 76, 134);
        border-radius: 10px;
    }
}
.btn {
    border-radius: 5px;
    border: none;
    &:hover {
        color: $hover_color;
        background-color: $hover_bg;
    }
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .input-wrapper {
        display: flex;
        justify-content: center;
    }
    .input-text {
        margin-right: 3em;
        min-width: 30em; 
    }
}

.item-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    .item-text {
        justify-self: start;
        margin-right: auto;
    }
    
    * + * {
        margin-left: 1em;
    }
}

.strikethrough {
    text-decoration: line-through;
}